.glow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.scan-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgb(253, 0, 0); /* hoặc màu bạn muốn */
    animation: scanning 3s infinite linear;
}


@keyframes scanning {
    0%,100% { top: 0; }
    50% { top: 100%; }
}

.stagger { opacity: 0; transform: translateY(20px); transition: 0.5s; }
.active .stagger { opacity: 1; transform: translateY(0); }